body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(240, 239, 232);
}

h1 {
  font-size: 60px;
  font-weight: lighter;
}

.pBusiness {
  font-size: 22px;
  font-weight: lighter;
}

.section1,
.section2 {
  padding-top: 5vh;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.div1,
.div2 {
  width: 1200px;
  height: 750px;
}

.imgGreyFactory {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: Bottom;
}

.div1_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 40px;
  position: relative;
  top: -250px;
}

.imgWomanSmiling {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: Top;
}

.div1_1_1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.readMore {
  border: 2px solid black;
  padding: 15px;
  width: 150px;
}

.div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.div2_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-left: 50px;
}

.pConstruction {
  font-size: 40px;
  font-weight: bold;
}

.pProud {
  font-size: 20px;
  font-weight: bold;
}

.imgCityStreet {
  width: 450px;
  height: 600px;
  object-fit: cover;
}

.div3 {
  background-color: black;
  color: white;
  height: 900px;
}

.pWhat {
  font-size: 20px;
  font-weight: bold;
  padding-top: 60px;
}

.pCert {
  font-size: 40px;
  font-weight: bold;
}

.div3_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.div3_1_1 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.pSubheader {
  font-size: 20px;
  font-weight: bold;
}

.div4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}

.div4_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 33%;
}
.div4_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 33%;
}

.imgExcavator {
  width: 33%;
  height: 400px;
  object-fit: cover;
  object-position: Top;
}

.pEffective {
  padding: 50px;
}

.div5 {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 280px;
  align-items: center;
  align-content: center;
}

.div6_1 {
  display: flex;
  flex-direction: row;
}

.div6_1 > * {
  width: 25%;
  height: 300px;
  object-fit: cover;
}

.div7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 600px;
}

.div7_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgMap {
  mix-blend-mode: multiply;
}

.div8 {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 300px;
}

.div8_2 {
  display: flex;
  flex-direction: column;
}

.div8_2x {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.div8_2_1 {
  justify-items: left;
}

.pContact {
  font-size: 30px;
  font-weight: bold;
}

.pToday {
  font-size: 20px;
  font-weight: lighter;
}

.pAddress {
  font-size: 20px;
  font-weight: bold;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
